body > header {
    position: fixed;
    background-color: black;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, var(--content-max-width)) minmax(0, 1fr);
}

body > header .container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

body > header nav {
    margin-inline: auto 25px;

    display: flex;
    gap: 25px;
    align-items: center;
    text-align: center;
    /* font-family: lato-bold-webfont; */
    font-family: special-elite;
    font-size: 1.1em;
    letter-spacing: 1.5px;
    font-weight: bold;
}

body > header span {
    color: #CC0000;
}
body > header nav a {
    color: white;
    opacity: .8;
}
body > header nav a:hover,
body > header nav a:focus-visible {
    text-shadow: #f695ff 1px 1px 10px;
    opacity: 1;
}

body > header .menu-toggle,
body > header #menu-checkbox {
    display: none;
}