@media (max-width: 700px)  {

    main {
        padding-top: 112px;
    }

    .content-grid.no-collapse {
        padding-top: 132px;
    }

    .content-grid .left-col {
        grid-column: content;
    }
    
    .content-grid .right-col {
        grid-column: content;
    }
    
    .content-grid img {
        grid-column: full-width !important;
    }

    .no-mobile {
        display: none;
    }
    .mobile-only {
        display: unset;
    }


    body > header nav {
        display: none;
    }
    body > header .menu-toggle {
        display: block;
    }
    body > header .menu-toggle {
        margin-inline: auto 25px;
    }
    body > header .menu-toggle img {
        background-image: url(../images/mobile/mobile-menu.png);
        width: 50px;
        height: 50px;
    }
    body > header #menu-checkbox:checked ~ label img {
        background-image: url(../images/mobile/mobile-close.png);

    }
    body > header #menu-checkbox:checked ~ nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 1px;
        top: 78px;
        border: solid 1px black;
        background-color: white;
        gap: 0;
    }
    body > header #menu-checkbox:checked ~ nav span,
    body > header #menu-checkbox:checked ~ nav a {
        padding: 1rem;
    }

    .content-warnings {
        padding-inline: unset;
    }
    
}

@media (max-width: 600px)  {
    section.books {
        grid-template-columns: 1fr;
    }
}